<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
   
   <title>Title</title>

   <script type="text/javascript">
   function doSubmit () {
      var user = document.getElementById('user').value;
      window.location.href = "/twitter/user/" + user;
      return false;
   }
   </script>
</head>
<body>


<form onsubmit="return doSubmit()">
   <input type="text" id="user" autofocus="true" />
   <input type="submit" />
</form>

</body>
</html>